body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#e6b4d4;
}

.character{
    width:300px;
    height:420px;
    position:relative;
}

.hairBase{
    
    width:220px;
    height:250px;
    background:#714926;
    border-radius:50%;
    position:absolute;
    top:20px;
    left:40px;
    z-index:1;
    
}

.face{
    width:200px;
    height:260px;
    background:#f5c9a9;
    border:2px solid #d8a17b;
    border-radius:45% 45% 50% 50%;
    position:absolute;
    top:60px;
    left:45px;
    z-index:2;
}

.hairLeft{
    width:90px;
    height:300px;
    background:#714926;
    position:absolute;
    left:20px;
    top:120px;
    border-radius:50px;
    z-index:1;

}

.hairRight{

    width:90px;
    height:300px;
    background:#714926;
    position:absolute;
    right:20px;
    top:120px;
    border-radius:50px;
    z-index:1;
}


.bangs{
    width:160px;
    height:85px;
    background:#714926;
    position:absolute;
    top:45px;
    left:65px;
    border-radius:40px 40px 90px 80px;
    z-index:3;
    
}


/* blowdry */
img{

    height: 190px;
    width: 180px;
}


/* Eyes */
.eye{
    width:20px;
    height:20px;
    background:#222;
    border-radius:50%;
    position:absolute;
    top:90px;
}

.left-eye{
    left:60px;
}

.right-eye{
    right:60px;
}

/* Nose */
.nose{
    width:10px;
    height:35px;
    background:#e3b18d;
    border-radius:10px;

    position:absolute;
    top:115px;
    left:50%;
    transform:translateX(-50%);
}


.mouth{
    width:50px;
    height:20px;
    border-bottom:4px solid #b85d5d;
    border-radius:0 0 40px 40px;
    position:absolute;
    bottom:50px;
    left:50%;
    transform:translateX(-50%);
}

.game{

    position:fixed;
    top:40px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    align-items:center;
    gap:15px;
    padding:10px 20px;
    z-index:20;

}

#timer {

    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    background: white;
    padding: 10px 15px;
    color:#b85d5d;
   
    
}

#reset {

    position: fixed;
    bottom: 20px;
    left: 50%;
    /* move to the left horizontaly */
    transform: translateX(-50%); 

}


#dryer{
    position: fixed;
    left: 40px;
    bottom: 40px;
    cursor: grab;
    z-index: 1000;
}

#dryer img{

    width:130px;
    user-select:none;
    pointer-events:none; /* prevents the image from blocking dragging */
}


h1{

    position: fixed;
    top: 20px;
    right: 70%;
    color:#b85d5d
}