body {

    margin: 0;
    padding: 0;
    background-image: ("/images/salon.jpeg");
    background-size: cover;      /* fills the whole screen */
    background-position: center; /* keeps image centered */
    
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

.character{
    width:300px;
    height:420px;
    position:relative;
}

.hairBase{
    
    width:220px;
    height:250px;
    background:#714926;
    border-radius:50%;
    position:absolute;
    top:20px;
    left:40px;
    z-index:1;
    
}

.face{
    width:200px;
    height:260px;
    background:#f5c9a9;
    border:2px solid #d8a17b;
    border-radius:45% 45% 50% 50%;
    position:absolute;
    top:60px;
    left:45px;
    z-index:2;
}

.hairLeft{
    width:90px;
    height:300px;
    background:#714926;
    position:absolute;
    left:20px;
    top:120px;
    border-radius:50px;
    z-index:1;

}

.hairRight{

    width:90px;
    height:300px;
    background:#714926;
    position:absolute;
    right:20px;
    top:120px;
    border-radius:50px;
    z-index:1;
}


.bangs{
    width:160px;
    height:85px;
    background:#714926;
    position:absolute;
    top:45px;
    left:65px;
    border-radius:40px 40px 90px 80px;
    z-index:3;
    
}


/* blowdry */
img{

    height: 190px;
    width: 180px;
}


/* Eyes */
.eye{
    width:20px;
    height:20px;
    background:#222;
    border-radius:50%;
    position:absolute;
    top:90px;
}

.left-eye{
    left:60px;
}

.right-eye{
    right:60px;
}

/* Nose */
.nose{

    width:10px;
    height:35px;
    background:#e3b18d;
    border-radius:10px;
    position:absolute;
    top:115px;
    left:50%;
    transform:translateX(-50%);
}


.mouth{
    width:50px;
    height:20px;
    border-bottom:4px solid #b85d5d;
    border-radius:0 0 40px 40px;
    position:absolute;
    bottom:50px;
    left:50%;
    transform:translateX(-50%);
}

.game{

    position:fixed;
    top:40px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    align-items:center;
    gap:15px;
    padding:10px 20px;
    z-index:20;

}

#timer {

    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    background: white;
    padding: 10px 15px;
    color:#d63384;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(223, 213, 213, 0.3);
    border: 3px solid #ffb6c1;

}

#reset {

    position: fixed;
    bottom: 20px;
    left: 50%;
    /* move to the left horizontaly */
    transform: translateX(-50%);
    

}


#dryer{

    position: fixed;
    right: 80px;
    cursor: grab;
    z-index: 1000;
   
    
}

#dryer img{

    width:130px;
    user-select:none;
    pointer-events:none; /* prevents the image from blocking dragging */
}

#gameHeader{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 20;
    text-align: left;
    max-width: 240px;
    
}

.welcome-title{

    margin: 0 0 7px 0;
    font-size: 45px;
    color: #d63384;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
    border-radius: 29px;
    box-shadow: 0 8px 20px rgba(223, 213, 213, 0.3);
    border: 3px solid #ffb6c1;
    display: inline-block; 
    background: white;
}

.instructions{

    margin: 0;
    padding-left: 18px;
    font-size: 20px;
    color: #5a3a2e;
    background: rgba(255,255,255,0.75);
    border-radius: 12px;
    padding: 10px 10px 10px 24px;
    display: inline-block; 
}

.instructions li{
    margin-bottom: 55px;
}


#startBtn{

    color :#d63384;
    font-size: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: #ffb6c1;

}

#reset{

 color :#d63384;
    font-size: 30px;
    background-color: white;
    border-radius: 12px;
    border-color: #ffb6c1;

}
 